.list {
    list-style: none;
    margin-block: 0;
    padding-inline: 0;
    padding: 0;
    margin: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.listItem {
    border: 1px solid black;
}

@media (min-width: 720px) {
    .list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .listItem {
        width: 30%;
    }
}

@media (min-width: 1024px) {
    .list {
        max-width: 80%;
    }
}

